{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <h2>${{ ticker }}</h2>

    <form method="get">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="ticker" value="{{ ticker }}" />
    <input type="submit" value="Submit">
    </form></p>

    <body>For days = {{ days }},</body></p>
    {% for type, data in ticker_data.items %}
    <body>{{ type }}: {{ data }}</body></p>
    {% endfor %}

    <a href="{% url 'vertical_spreads' ticker %}">Get vertical spreads</a></p>

    <a href="{% url 'home' %}">Back</a>
</div>

{% endblock %}