{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <h1 class="display-6 my-4">Vertical spreads for {{ ticker }}</h1>
    <hr class="mb-4">

<!--    {% for type, spread in spreads.items %}-->
<!--    <body>{{ type }}: {{ spread }}</body></p>-->
<!--    {% endfor %}-->

    <div class="container-fluid">
        <h2>Debit Spread</h2>
        <table class="table table-striped w-25">
            <tbody>
                <tr>
                    <th>Short call strike price</th>
                    <td>{{ spreads.debit_spread.short_call.strike_strike }}</td>
                </tr>
                <tr>
                    <th>Short call premium</th>
                    <td>{{ spreads.debit_spread.short_call.strike_premium }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col">
                <h3>Maximum Profit</h3>
                {% with 'graphs/'|add:ticker|add:'-debit-spread-max-gain.jpeg' as image_static %}
                    {% load static %}
                    <img src="{% static image_static %}" class="img-fluid" alt="fuck">
                {% endwith %}
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Strike price</th>
                            <td>{{ spreads.debit_spread.max_gain.strike_price }}</td>
                        </tr>
                        <tr>
                            <th>Premium</th>
                            <td>{{ spreads.debit_spread.max_gain.strike_premium }}</td>
                        </tr>
                        <tr>
                            <th>Net value at breakeven</th>
                            <td>{{ spreads.debit_spread.max_gain.net_value_at_breakeven }}</td>
                        </tr>
                        <tr>
                            <th>Maximum profit</th>
                            <td>{{ spreads.debit_spread.max_gain.strike_premium }}</td>
                        </tr>
                        <tr>
                            <th>Breakeven</th>
                            <td>{{ spreads.debit_spread.max_gain.breakeven }}</td>
                        </tr>
                        <tr>
                            <th>Maximum loss</th>
                            <td>{{ spreads.debit_spread.max_gain.max_loss }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h3>Minimum Cost</h3>
                {% with 'graphs/'|add:ticker|add:'-debit-spread-min-cost.jpeg' as image_static %}
                    {% load static %}
                    <img src="{% static image_static %}" class="img-fluid" alt="fuck">
                {% endwith %}
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Strike price</th>
                            <td>{{ spreads.debit_spread.min_cost.strike_price }}</td>
                        </tr>
                        <tr>
                            <th>Premium</th>
                            <td>{{ spreads.debit_spread.min_cost.strike_premium }}</td>
                        </tr>
                        <tr>
                            <th>Net value at breakeven</th>
                            <td>{{ spreads.debit_spread.min_cost.net_value_at_breakeven }}</td>
                        </tr>
                        <tr>
                            <th>Maximum profit</th>
                            <td>{{ spreads.debit_spread.min_cost.strike_premium }}</td>
                        </tr>
                        <tr>
                            <th>Breakeven</th>
                            <td>{{ spreads.debit_spread.min_cost.breakeven }}</td>
                        </tr>
                        <tr>
                            <th>Maximum loss</th>
                            <td>{{ spreads.debit_spread.min_cost.max_loss }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr class="my-4">

        <h2>Credit Spread</h2>
        <table class="table table-striped w-25">
            <tbody>
                <tr>
                    <th>Short put strike price</th>
                    <td>{{ spreads.debit_spread.short_put.strike_strike }}</td>
                </tr>
                <tr>
                    <th>Short put premium</th>
                    <td>{{ spreads.debit_spread.short_put.strike_premium }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col">
                <h3>Maximum Profit</h3>
                {% with 'graphs/'|add:ticker|add:'-credit-spread-max-gain.jpeg' as image_static %}
                    {% load static %}
                    <img src="{% static image_static %}" class="img-fluid" alt="fuck">
                {% endwith %}
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Strike price</th>
                            <td>{{ spreads.credit_spread.max_gain.strike_price }}</td>
                        </tr>
                        <tr>
                            <th>Premium</th>
                            <td>{{ spreads.credit_spread.max_gain.strike_premium }}</td>
                        </tr>
                        <tr>
                            <th>Net value at breakeven</th>
                            <td>{{ spreads.credit_spread.max_gain.net_value_at_breakeven }}</td>
                        </tr>
                        <tr>
                            <th>Maximum profit</th>
                            <td>{{ spreads.credit_spread.max_gain.strike_premium }}</td>
                        </tr>
                        <tr>
                            <th>Breakeven</th>
                            <td>{{ spreads.credit_spread.max_gain.breakeven }}</td>
                        </tr>
                        <tr>
                            <th>Maximum loss</th>
                            <td>{{ spreads.credit_spread.max_gain.max_loss }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h3>Minimum Loss</h3>
                {% with 'graphs/'|add:ticker|add:'-credit-spread-min-loss.jpeg' as image_static %}
                    {% load static %}
                    <img src="{% static image_static %}" class="img-fluid" alt="fuck">
                {% endwith %}
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Strike price</th>
                            <td>{{ spreads.credit_spread.min_loss.strike_price }}</td>
                        </tr>
                        <tr>
                            <th>Premium</th>
                            <td>{{ spreads.credit_spread.min_loss.strike_premium }}</td>
                        </tr>
                        <tr>
                            <th>Net value at breakeven</th>
                            <td>{{ spreads.credit_spread.min_loss.net_value_at_breakeven }}</td>
                        </tr>
                        <tr>
                            <th>Maximum profit</th>
                            <td>{{ spreads.credit_spread.min_loss.strike_premium }}</td>
                        </tr>
                        <tr>
                            <th>Breakeven</th>
                            <td>{{ spreads.credit_spread.min_loss.breakeven }}</td>
                        </tr>
                        <tr>
                            <th>Maximum loss</th>
                            <td>{{ spreads.credit_spread.min_loss.max_loss }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}