{% extends 'registration/registration_base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}

<form method="post">
  {% csrf_token %}
  {% load static %}
  <a href="{% url 'home' %}">
    <img class="mb-4" src="{% static 'ticks-up-logo-dark.png' %}" alt="" width="279" height="71">
  </a>
  <h1 class="h3 mb-3 fw-normal">Confirm password reset</h1>

  <div class="form-floating my-2">
    {% render_field form.new_password1 class="form-control" placeholder=form.new_password1.label id="new_password1" %}
    <label for="new_password1">New password</label>
  </div>
  <div class="form-floating my-2">
    {% render_field form.new_password2 class="form-control" placeholder="Confirm new password" id="new_password2" %}
    <label for="new_password2">Confirm new password</label>
  </div>

  <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Confirm</button>

  <p class="mt-5 mb-3 text-muted">You'll never go tits up with Ticks Up</p>
</form>

{% endblock %}