aiofiles==0.7.0
aiosqlite==0.17.0
asgiref==3.3.4
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
config==0.5.0.post0
dashboard==0.0.6
databases==0.4.3
Django==3.2.3
django-crispy-forms==1.12.0
django-widget-tweaks==1.4.8
h11==0.12.0
idna==2.10
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.20.3
orm==0.2.0.dev1
psycopg2==2.9.1
python-multipart==0.0.5
pytz==2021.1
requests==2.25.0
scipy==1.6.3
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.3.24
sqlparse==0.4.1
starlette==0.14.2
typesystem==0.3.0.dev0
typing-extensions==3.10.0.0
urllib3==1.26.2
uvicorn==0.13.4