{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <h1 class="display-6 my-4">Your portfolio(s):</h1>
    <hr class="mb-4">

    <ul class="list-group w-50 p-3">
        {% for portfolio in user.portfolio_set.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'view_portfolio' portfolio.id %}" class="list-group-item list-group-item-action border-0">
                {{ portfolio.name }}
            </a>

            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#removePortfolio">
                <i class="bi bi-x-circle" data-bs-toggle="modal" data-bs-target="#removePortfolio"></i>
            </button>

            <div class="modal fade" id="removePortfolio" tabindex="-1" aria-labelledby="removePortfolioLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="removePortfolioLabel">Remove {{ portfolio.name }} portfolio?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                <a href="{% url 'remove_portfolio' portfolio.id %}" class="btn btn-outline-primary">Confirm</a>
              </div>
            </div>
          </div>
        </div>
        </li>
        {% endfor %}
    </ul>

    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addPortfolio">
        <i class="bi bi-plus-circle" data-bs-toggle="modal" data-bs-target="#addPortfolio"></i>
        Add portfolio
    </button>

    <div class="modal fade" id="addPortfolio" tabindex="-1" aria-labelledby="addPortfolioLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addPortfolioLabel">Add new portfolio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="post" action="{% url 'add_portfolio' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form|crispy }}
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
</div>

{% endblock %}