{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <h1 class="display-6 my-4 text-center">{{ portfolio.name }}</h1>
    <hr class="mb-4">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Position</th>
                <th scope="col">Total cost</th>
                <th scope="col">Quantity</th>
                <th scope="col">Cost per quantity</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for symbol, pos in positions.items %}
        <tbody>
            <tr class="table-secondary">
                <th scope="row">
                    <a href="{% url 'search_ticker' %}?ticker={{ symbol }}" class="link-dark">{{ symbol }}</a>
                </th>
                {% if pos.0 %}
                <td>Shares</td>
                <td>{{ pos.0.total_cost }}</td>
                <td>{{ pos.0.total_shares }}</td>
                <td>{{ pos.0.average_cost }}</td>
                <td>
                    <button type="button" class="btn btn-warning btn-sm ms-5" data-bs-toggle="modal" data-bs-target="#hedge{{ symbol }}Stock">
                        <i class="bi bi-shield-shaded"></i>
                        Hedge
                    </button>

                    <div class="modal fade" id="hedge{{ symbol }}Stock" tabindex="-1" aria-labelledby="hedge{{ symbol }}StockLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="hedge{{ symbol }}StockLabel">Hedge your stocks in {{ symbol }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form method="post" action="{% url 'hedge_stock_position' portfolio.id symbol %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    {{ hedge_stock_form|crispy }}
                                </div>
                                <button type="submit" class="btn btn-outline-primary">Hedge</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#add{{ symbol }}StockPosition">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                        <div class="modal fade" id="add{{ symbol }}StockPosition" tabindex="-1" aria-labelledby="add{{ symbol }}StockPositionLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="add{{ symbol }}StockPositionLabel">Add {{ symbol }} stock position</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form method="post" action="{% url 'edit_stock_position' portfolio_id=portfolio.id ticker_name=symbol add_or_remove='ADD' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        {{ sform|crispy }}
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary">Save</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>

                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#remove{{ symbol }}StockPosition">
                            <i class="bi bi-dash-lg"></i>
                        </button>
                        <div class="modal fade" id="remove{{ symbol }}StockPosition" tabindex="-1" aria-labelledby="remove{{ symbol }}StockPositionLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="remove{{ symbol }}StockPositionLabel">Remove {{ symbol }} stock position</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form method="post" action="{% url 'edit_stock_position' portfolio_id=portfolio.id ticker_name=symbol add_or_remove='REMOVE' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        {{ sform|crispy }}
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary">Save</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </td>
                {% else %}
                <td colspan="5">-</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#add{{ symbol }}StockPosition">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                        <div class="modal fade" id="add{{ symbol }}StockPosition" tabindex="-1" aria-labelledby="add{{ symbol }}StockPositionLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="add{{ symbol }}StockPositionLabel">Add {{ symbol }} stock position</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form method="post" action="{% url 'edit_stock_position' portfolio_id=portfolio.id ticker_name=symbol add_or_remove='ADD' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        {{ sform|crispy }}
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary">Save</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>

                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#remove{{ symbol }}StockPosition">
                            <i class="bi bi-dash-lg"></i>
                        </button>
                        <div class="modal fade" id="remove{{ symbol }}StockPosition" tabindex="-1" aria-labelledby="remove{{ symbol }}StockPositionLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="remove{{ symbol }}StockPositionLabel">Remove {{ symbol }} stock position</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form method="post" action="{% url 'edit_stock_position' portfolio_id=portfolio.id ticker_name=symbol add_or_remove='REMOVE' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        {{ sform|crispy }}
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary">Save</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% for option in pos.1 %}
            <tr class="table-light">
                <th></th>
                <td>{{ option }}</td>
                <td>{{ option.total_cost }}</td>
                <td>{{ option.total_contracts }}</td>
                <td>{{ option.average_cost }}</td>
                <td></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#add{{ symbol }}OptionPosition">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                        <div class="modal fade" id="add{{ symbol }}OptionPosition" tabindex="-1" aria-labelledby="add{{ symbol }}OptionPositionLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="add{{ symbol }}OptionPositionLabel">Add {{ symbol }} option position</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form method="post" action="{% url 'edit_option_position' portfolio.id option.ticker 'ADD' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <input type="hidden" name="call_or_put" value="{{ option.call_or_put }}">
                                        <input type="hidden" name="buy_or_sell" value="{{ option.buy_or_sell }}">
                                        <input type="hidden" name="expiration_date" value="{{ option.expiration_date }}">
                                        <input type="hidden" name="strike_price" value="{{ option.strike_price }}">
                                        {{ eoform|crispy }}
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary">Save</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>

                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#remove{{ symbol }}OptionPosition">
                            <i class="bi bi-dash-lg"></i>
                        </button>
                        <div class="modal fade" id="remove{{ symbol }}OptionPosition" tabindex="-1" aria-labelledby="remove{{ symbol }}OptionPositionLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="remove{{ symbol }}OptionPositionLabel">Remove {{ symbol }} option position</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form method="post" action="{% url 'edit_option_position' portfolio.id option.ticker 'REMOVE' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <input type="hidden" name="call_or_put" value="{{ option.call_or_put }}">
                                        <input type="hidden" name="buy_or_sell" value="{{ option.buy_or_sell }}">
                                        <input type="hidden" name="expiration_date" value="{{ option.expiration_date }}">
                                        <input type="hidden" name="strike_price" value="{{ option.strike_price }}">
                                        {{ eoform|crispy }}
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary">Save</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
        <tbody>
    </table>

    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addStockPosition">
        <i class="bi bi-plus-circle-fill"></i>
        Add stock position
    </button>

    <div class="modal fade" id="addStockPosition" tabindex="-1" aria-labelledby="addStockPositionLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addStockPositionLabel">Add stock position</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form method="post" action="{% url 'add_stock_position' portfolio.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    {{ tform|crispy }}
                    {{ sform|crispy }}
                </div>
                <button type="submit" class="btn btn-outline-primary">Save</button>
              </form>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addOptionPosition">
        <i class="bi bi-plus-circle-fill"></i>
        Add option position
    </button>

    <div class="modal fade" id="addOptionPosition" tabindex="-1" aria-labelledby="addOptionPositionLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addOptionPositionLabel">Add option position</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="naked-tab" data-bs-toggle="tab" data-bs-target="#naked" type="button" role="tab" aria-controls="naked" aria-selected="true">Naked</button>
                  </li>
                  <li class="nav-item" role="presentation">
                      <button class="nav-link" id="vertical-spread-tab" data-bs-toggle="tab" data-bs-target="#vertical-spread" type="button" role="tab" aria-controls="vertical-spread" aria-selected="false">Vertical Spread</button>
                  </li>
                  <li class="nav-item" role="presentation">
                      <button class="nav-link" id="butterfly-spread-tab" data-bs-toggle="tab" data-bs-target="#butterfly-spread" type="button" role="tab" aria-controls="butterfly-spread" aria-selected="false">Butterfly Spread</button>
                  </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="naked" role="tabpanel" aria-labelledby="naked-tab">
                      <form method="post" action="{% url 'add_option_position' portfolio.id %}">
                          {% csrf_token %}
                          <div class="mb-3">
                              {{ tform|crispy }}
                              {{ oform|crispy }}
                          </div>
                          <button type="submit" class="btn btn-outline-primary">Save</button>
                      </form>
                  </div>
                  <div class="tab-pane fade" id="vertical-spread" role="tabpanel" aria-labelledby="vertical-spread-tab">
                      <form method="post" action="{% url 'add_option_position' portfolio.id %}">
                          {% csrf_token %}
                          <div class="mb-3">
                              {{ tform|crispy }}
                              {{ vsform|crispy }}
                              <hr>
                              <h4 class="my-2 text-center">Short Leg</h4>
                              {{ oform|crispy }}
                              <hr>
                              <h4 class="my-2 text-center">Long Leg</h4>
                              {{ oform|crispy }}
                          </div>
                          <button type="submit" class="btn btn-outline-primary">Save</button>
                      </form>
                  </div>
                  <div class="tab-pane fade" id="butterfly-spread" role="tabpanel" aria-labelledby="butterfly-spread-tab">
                      <form method="post" action="{% url 'add_option_position' portfolio.id %}">
                          {% csrf_token %}
                          <div class="mb-3">
                              {{ tform|crispy }}
                              {{ bsform|crispy }}
                              <hr>
                              <h4 class="my-2 text-center">Bear Spread</h4>
                              <h5 class="my-2">Long Leg</h5>
                              {{ oform|crispy }}
                              <h5 class="my-2">Short Leg</h5>
                              {{ oform|crispy }}
                              <hr>
                              <h4 class="my-2 text-center">Bull Spread</h4>
                              <h5 class="my-2">Short Leg</h5>
                              {{ oform|crispy }}
                              <h5 class="my-2">Long Leg</h5>
                              {{ oform|crispy }}
                          </div>
                          <button type="submit" class="btn btn-outline-primary">Save</button>
                      </form>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}